<section id={{post.id}}>

    <label for="">Title</label>
    <input type="text" id="edit-title" value={{post.title}}>
    <label for="">Content</label>
    <textarea name="" id="edit-content" cols="30" rows="10" >{{post.content}}</textarea>
    <button type="submit" id="edit" >Submit</button>

</section>

<script src="/javascript/edit.js"></script>