<div class="row">
    <div class="col-sm-12">
    <h3>Tech Blog</h3>
    <div class="row">
        <form id='form'>
            <div class="mb-3">
                <label for="title" class="form-label">Post Title</label>
                <input type="text" class="form-control" id="title" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                 <label for="floatingTextarea">Post Content</label>
                 <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
               
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <button id="logout">Log Out</button>
    </div>
    </div>
</div>

<script src="/javascript/logout.js"></script>
<script src="/javascript/homepage.js"></script>