<section>

    <label for="">Title</label>
    <input type="text" id="newPost-title">
    <label for="">Content</label>
    <textarea name="" id="newPost-content" cols="30" rows="10" ></textarea>
    <button type="submit" id="newPost" >Submit</button>

</section>

<script src="/javascript/new.js"></script>